terratowns_endpoint="https://terratowns.cloud/api"
germany = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/germany"
  content_version = 1
} 
payday = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/payday"
  content_version = 1 
}